<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>agiguere</string>
		<key>firstName</key>
		<string>Alexandre</string>
		<key>lastName</key>
		<string>Giguère</string>
		<key>email</key>
		<string>agiguere@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>agiguere</string>
		<key>imageName</key>
		<string>agiguere</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>jprovost</string>
		<key>firstName</key>
		<string>Joel</string>
		<key>lastName</key>
		<string>Provost</string>
		<key>email</key>
		<string>jprovost@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>beyondjoel</string>
		<key>imageName</key>
		<string>jprovost</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>asouza</string>
		<key>firstName</key>
		<string>Alessandra</string>
		<key>lastName</key>
		<string>Souza</string>
		<key>email</key>
		<string>asouza@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>alessandra-souza</string>
		<key>imageName</key>
		<string>asouza</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dstjacques</string>
		<key>firstName</key>
		<string>Daniel</string>
		<key>lastName</key>
		<string>St-Jacques</string>
		<key>email</key>
		<string>dstjacques@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>stjacqd</string>
		<key>imageName</key>
		<string>dstjacques</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cpugliessa</string>
		<key>firstName</key>
		<string>Cristina</string>
		<key>lastName</key>
		<string>Pugliessa</string>
		<key>email</key>
		<string>cpugliessa@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>cpugliessa</string>
		<key>imageName</key>
		<string>cpugliessa</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mpenha</string>
		<key>firstName</key>
		<string>Marcella</string>
		<key>lastName</key>
		<string>Penha</string>
		<key>email</key>
		<string>mpenha@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>marcellaronai</string>
		<key>imageName</key>
		<string>mpenha</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>gpereira</string>
		<key>firstName</key>
		<string>Gustavo</string>
		<key>lastName</key>
		<string>Peirera</string>
		<key>email</key>
		<string>gpereira@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>gubp81</string>
		<key>imageName</key>
		<string>gpereira</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>glaaziz</string>
		<key>firstName</key>
		<string>Ghizlane</string>
		<key>lastName</key>
		<string>Laaziz</string>
		<key>email</key>
		<string>glaaziz@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>glaaziz</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>jkaszap</string>
		<key>firstName</key>
		<string>Jules</string>
		<key>lastName</key>
		<string>Kaszap</string>
		<key>email</key>
		<string>jkaszap@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>jkaszap</string>
		<key>imageName</key>
		<string>jkaszap</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mhechanova</string>
		<key>firstName</key>
		<string>Marie</string>
		<key>lastName</key>
		<string>Hechanova</string>
		<key>email</key>
		<string>mhechanova@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>mhechanova</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>plcusson</string>
		<key>firstName</key>
		<string>Pierre-Luc</string>
		<key>lastName</key>
		<string>Cusson</string>
		<key>email</key>
		<string>plcusson@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>Pierre-LucCusson</string>
		<key>imageName</key>
		<string>plcusson</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mramos</string>
		<key>firstName</key>
		<string>Marcelo</string>
		<key>lastName</key>
		<string>Ramos</string>
		<key>email</key>
		<string>mramos@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>mramos</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>sthomassin</string>
		<key>firstName</key>
		<string>Stephane</string>
		<key>lastName</key>
		<string>Thomassin</string>
		<key>email</key>
		<string>sthomassin@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>sthomassin</string>
		<key>imageName</key>
		<string>sthomassin</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>vdesrochers</string>
		<key>firstName</key>
		<string>Vincent</string>
		<key>lastName</key>
		<string>Desrochers</string>
		<key>email</key>
		<string>vdesrochers@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string>vdesrochers</string>
		<key>imageName</key>
		<string>vdesrochers</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>vpereira</string>
		<key>firstName</key>
		<string>Valeria</string>
		<key>lastName</key>
		<string>Pereira</string>
		<key>email</key>
		<string>vpereira@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>vpereira</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>gevelson</string>
		<key>firstName</key>
		<string>Gevelson</string>
		<key>lastName</key>
		<string>Pereira</string>
		<key>email</key>
		<string>gevelson@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>gevelson</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>tha</string>
		<key>firstName</key>
		<string>Tien</string>
		<key>lastName</key>
		<string>Ha</string>
		<key>email</key>
		<string>tha@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>tha</string>
		<key>team</key>
		<string>D</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mdesjardins</string>
		<key>firstName</key>
		<string>Marc-Étienne</string>
		<key>lastName</key>
		<string>Desjardins</string>
		<key>email</key>
		<string>mdesjardins@beyondtechnologies.ca</string>
		<key>gitHubUser</key>
		<string></string>
		<key>imageName</key>
		<string>mdesjardins</string>
		<key>team</key>
		<string>D</string>
	</dict>
    <dict>
        <key>id</key>
        <string>jbulda</string>
        <key>firstName</key>
        <string>Jeric</string>
        <key>lastName</key>
        <string>Bulda</string>
        <key>email</key>
        <string>jbulda@beyondtechnologies.ca</string>
        <key>gitHubUser</key>
        <string></string>
        <key>imageName</key>
        <string>jbulda</string>
        <key>team</key>
        <string>D</string>
    </dict>
</array>
</plist>
